conditions:
    condition1:
        ID: 1
        name: move_base_goal
        type: bool 
        listenTopic: /move_base_goal1
        msg_type: String
        following: 
    condition2:
        ID: 2
        name: Nav_to_Pose
        type: Navigation
        range_trans: 0.72
        range_rot: 3.14
        link: youbot::base_footprint
        pose: 3.13 42.0 0.33 0.0 0.0 0.0 1.0
        following: 
observer:
    observer_topic: /observer/info
    useDebugSrv: true
    debugSrvName: /collision_counter
    startTopic: 
    startCommand: rosrun youbot_sim_launcher move_base_client.py 3.84 -0.09 0.0 0.0 0.0 0.0 1.0
    finishTopic: 
    timeout: 13.0
robot_is_stuck:
#    link: youbot::base_footprint
#    type: vel #vel or range
#    min: 0.1
#    duration: 30.0 
joint_observer: {}
#'rostopic pub --once /move_base/goal move_base_msgs/MoveBaseActionGoal "{header: {},goal_id: {},goal: {target_pose: {header: {seq: 0,stamp: {secs: 0,nsecs: 0},frame_id: map},pose: {position: {x: -1.9,y: -1.6,z: 0.0},orientation: {x: 0.0,y: 0.0,z: 0.0,w: 1.0}}}}}"'
