observerTopic: /observer/info
additionalPrograms:
    additionalProgram1:
        ID: 1
        timeDelay: 15.0
        command: roslaunch youbot_sim_launcher youbot_wall_test_2.launch
        restart: false
        condition: 
        type: 
        name: 
        following: 2
#    additionalProgram2:
#        ID: 2
#        timeDelay: 10.0
#        command: roslaunch luh_youbot_controller gazebo_controller.launch
#        restart: false
#        condition: 
#        type: 
#        name: 
#        following: 3
    additionalProgram3:
        ID: 2
        timeDelay: 8.0
        command: 'rosservice call /gazebo/set_model_state "{model_state: {model_name: youbot,pose: {position: {x: -2.0,y: -0.75,z: 0.10},orientation: {x: 0.0,y: 0.0,z: 0.0,w: 1.0}},twist: {},reference_frame: }}"'
        restart: true
        condition: 
        type: NoProgram
        name: 
        following: 
