#Object1:
#    ID: obstacle_1
#    Time_delay: 9.4
#        #start: 9.4
#        #stop: 10.3
#        #step: 0.05
#    Model: wall_obstacle
#    Poses:
#        Pose1:
#            Pose_x: 3.13
#            Pose_y: -0.75
#            Pose_z: 0.0
#            Orientation_a: 0.0
#            Orientation_b: 0.0
#            Orientation_c: 0.0
