conditions:
    condition1:
        ID: 1
        name: move_base_goal
        type: bool 
        listenTopic: /move_base_goal1
        msg_type: String
        following: 
    condition2:
        ID: 2
        name: Nav_to_Pose
        type: Navigation
        range_trans: 0.11
        range_rot: 1.57
        link: youbot::base_footprint
        pose: 3.6 0.0 0.33 0.0 0.0 0.0 1.0
        following: 
    condition3:
        ID: 3
        name: move_base_reaction_time
        type: bool
        listenTopic: /gazebo/cmd_vel
        msg_type: Twist
        following: #4
#    condition4:
#        ID: 4
#        name: 1_meter
#        type: Navigation
#        range_trans: 0.01
#        range_rot: 1.57
#        link: youbot::base_footprint
#        pose: -1.0 42.0 0.33 0.0 0.0 0.0 1.0
#        following: #5
#    condition5:
#        ID: 5
#        name: 2_meter
#        type: Navigation
#        range_trans: 0.01
#        range_rot: 1.57
#        link: youbot::base_footprint
#        pose: 0.0 42.0 0.33 0.0 0.0 0.0 1.0
#        following: #6
#    condition6:
#        ID: 6
#        name: 3_meter
#        type: Navigation
#        range_trans: 0.01
#        range_rot: 1.57
#        link: youbot::base_footprint
#        pose: 1.0 42.0 0.33 0.0 0.0 0.0 1.0
#        following: #7
#    condition7:
#        ID: 7
#        name: 4_meter
#        type: Navigation
#        range_trans: 0.01
#        range_rot: 1.57
#        link: youbot::base_footprint
#        pose: 2.0 42.0 0.33 0.0 0.0 0.0 1.0
#        following: #8
#    condition8:
#        ID: 8
#        name: 5_meter
#        type: Navigation
#        range_trans: 0.01
#        range_rot: 1.57
#        link: youbot::base_footprint
#        pose: 3.0 42.0 0.33 0.0 0.0 0.0 1.0
#        following: 
observer:
    observer_topic: /observer/info
    useDebugSrv: true
    debugSrvName: /collision_counter
    startTopic: 
    startCommand: rosrun youbot_sim_launcher move_base_client.py 3.6 0.0 0.0 0.0 0.0 0.0 1.0
    finishTopic: 
    timeout: 60.0
robot_is_stuck:
#    link: youbot::base_footprint
#    type: vel #vel or range
#    min: 0.1
#    duration: 30.0 
joint_observer: {}
#'rostopic pub --once /move_base/goal move_base_msgs/MoveBaseActionGoal "{header: {},goal_id: {},goal: {target_pose: {header: {seq: 0,stamp: {secs: 0,nsecs: 0},frame_id: map},pose: {position: {x: -1.9,y: -1.6,z: 0.0},orientation: {x: 0.0,y: 0.0,z: 0.0,w: 1.0}}}}}"'
