#Object1:
#    ID: M20_100_1
#    Model: M20 #same name as in $GAZEBO_MODEL_PATH
#    #Location:  #not implemented - giving a location file and spawn objects on this location 
#    Poses:    
#        Pose1:
#            Pose_x: #lower and upper means it will be a rand number between
#                start: 0.0
#                stop: 1.0
#                step: 0.2
#            Pose_y:
#                lower: 0.04
#                upper: 0.75
#            Pose_z: 0.12
#            Orientation_a: 0.0
#            Orientation_b: 0.0
#            Orientation_c: 3.14
#        Pose2: 0 1 2 3 4 5
#    #Command: spawn    #spawn by default; LATER!! :[options] = spawn, delete, ...
