ros_params:
#    /move_base/local_costmap/inflation_layer/inscribed_radius:
#        start: 0.0
#        stop: 0.8
#    /move_base/global_costmap/inflation_layer/inscribed_radius:
#        start: 0.0
#        stop: 0.8
    /move_base/DWAPlannerROS/sim_time:
        start: 0.1
        stop: 3.1
#    /move_base/DWAPlannerROS/max_scaling_factor:
#        start: 2.5
#        stop: 0.0
gazebo_params: 
    
number_of_tests: 210

