observerTopic: /observer/info
additionalPrograms:
    additionalProgram1:
        ID: 1
        timeDelay: 15.0
        command: roslaunch taurob_robot_gazebo_description_demo start_gazebo.launch
        restart: false
        condition: 
        type: 
        name: 
        following:  
    additionalProgram2:
        ID: 2
        timeDelay: 3.0
        command: roslaunch navigation_launcher localization.launch
        restart: false
        condition: 
        type: 
        name: 
        following: 
    additionalProgram3:
        ID: 3
        timeDelay: 6.0
        command: roslaunch navigation_launcher move_base.launch
        restart: true
        condition: true
        type: rosnode
        name: /move_base
        following: 4
    additionalProgram4:
        ID: 4
        timeDelay: 6.0
        command: 'rosservice call /gazebo/set_model_state "{model_state: {model_name: robot_description,pose: {position: {x: 7.7,y: -7.6,z: 0.10},orientation: {x: 0.0,y: 0.0,z: 0.0,w: 1.0}},twist: {},reference_frame: }}"'
        restart: true
        condition: 
        type: NoProgram
        name: 
        following: 5
    additionalProgram5:
        ID: 5
        timeDelay: 6.0
        command: rosrun tracker_auto_sim initial_pose_setter.py 7.7 -7.6 0.0 0.0 0.0 0.0 1.0
        name: 
        restart: true
        type: NoProgram
        condition: 
        following: 6
    additionalProgram6:
        ID: 6
        timeDelay: 4.0
        command: rosservice call /move_base/clear_costmaps
        name: 
        restart: true
        type: NoProgram
        condition: 
        following: 
conditionalPrograms:
    conditionalProgram1:
        condID: 1
        Object: 
            ID: M20_100_1
            Model: M20
            Poses: # choose a random pose from Poses
                Pose1:1 2 3 4 5 6
#               Pose2:0 1 2 3 4 5
        command: 
    conditionalProgram2:
        condID: 1
        Object:
        command: echo $ROS_PACKAGE_PATH
