conditions:
    condition1:
        ID: 1
        name: position_1
        type: Navigation
        range_trans: 0.5  # meter
        range_rot: 0.35   # pi/8 ca. 22 degrees  
        link: robot_description::base_link
        pose: 7.06188 0.571542 0.054 0.0 0.0 0.0 1.0
        following: 
    condition2:
        ID: 2
        name: position_2
        type: Navigation
        range_trans: 0.5  # meter
        range_rot: 0.35   # pi/8 ca. 22 degrees  
        link: robot_description::base_link
        pose: 4.82307 -3.41066 0.054 0.0 0.0 0.0 1.0
        following: 
    condition3:
        ID: 3
        name: position_3
        type: Navigation
        range_trans: 0.5  # meter
        range_rot: 0.35   # pi/8 ca. 22 degrees  
        link: robot_description::base_link
        pose: 7.4104 -6.41051 0.054 0.0 0.0 0.0 1.0
        following: 
    condition4:
        ID: 4
        name: cmd_vel_pub_reaction_time
        type: bool
        listenTopic: /cmd_vel
        msg_type: Twist
        following: 
    condition5:
        ID: 5
        name: move_base_finished
        type: bool
        listenTopic: /move_base_goal
        msg_type: String
        following: 
observer:
    observer_topic: /observer/info
    useDebugSrv: false
    debugSrvName: 
    startTopic: 
    startCommand: rosrun tracker_auto_sim move_base_multiple_goal_client.py
    finishTopic:
    timeout: 100.0
robot_is_stuck: {}
joint_observer: {}
