Material:
    name: Beer/Diffuse
    reflectivity: 0.7
    transmission: 0.7
    absorption: 0.4
    angular_factor: 0.5
Material: 
    name: Default
    reflectivity: 0.5
    transmission: 0.5
    absorption: 0.5
    angular_factor: 1.57
Material:
    name: Gazebo/Wood
    reflectivity: 1.0
    transmission: 0.0
    absorption: 0.99
    angular_factor: 3.14
Material:
    name: Gazebo/Grey
    reflectivity: 0.9
    transmission: 0.5
    absorption: 0.8
    angular_factor: 1.0
Material:
    name: Gazebo/White
    reflectivity: 0.99
    transmission: 0.01
    absorption: 0.99
    angular_factor: 3.14
