<?xml version="1.0" ?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find youbot_sim_launcher)/launch/material_laser_test.world"/>
  </include>
  <node pkg="tf" type="static_transform_publisher" name="map_hokuyo_broadcaster" args="0 0 0 0 0 0 /map /hokuyo 100"/>
</launch>
