conditions:
    condition1:
        ID: 1
        name: move_base_goal
        type: bool 
        listenTopic: /move_base_goal1
        msg_type: String
        following: 
    condition2:
        ID: 2
        name: Nav_to_Pose
        type: Navigation
        range_trans: 0.1 # meter
        range_rot: 0.3   # pi/8 ca. 22 degrees  
        link: youbot::base_footprint
        pose: -1.9 -1.6 0.33 0.0 0.0 0.714 0.704
        following: 
observer:
    observer_topic: /observer/info
    useDebugSrv: false
    debugSrvName: 
    startTopic: 
    startCommand: rosrun youbot_sim_launcher move_base_client.py -1.9 -1.6 0.0 0.0 0.0 0.714 0.7004
    finishTopic:
    timeout: 30.0
robot_is_stuck:
#    link: youbot::base_footprint
#    type: vel #vel or range
#    min: 0.1
#    duration: 30.0 
joint_observer: {}
#'rostopic pub --once /move_base/goal move_base_msgs/MoveBaseActionGoal "{header: {},goal_id: {},goal: {target_pose: {header: {seq: 0,stamp: {secs: 0,nsecs: 0},frame_id: map},pose: {position: {x: -1.9,y: -1.6,z: 0.0},orientation: {x: 0.0,y: 0.0,z: 0.0,w: 1.0}}}}}"'
