observerTopic: /observer/info
additionalPrograms:
    additionalProgram1:
        ID: 1
        timeDelay: 15.0
        command: roslaunch youbot_sim_launcher youbot_rc.launch
        restart: false
        condition: 
        type: 
        name: 
        following: 
    additionalProgram2:
        ID: 2
        timeDelay: 10.0
        command: roslaunch luh_youbot_controller gazebo_controller.launch
        restart: false
        condition: 
        type: 
        name: 
        following: 
    additionalProgram3:
        ID: 3
        timeDelay: 3.0
        command: roslaunch youbot_sim_launcher amcl.launch
        restart: false
        condition: 
        type: 
        name: 
        following: 
    additionalProgram4:
        ID: 4
        timeDelay: 6.0
        command: roslaunch youbot_sim_launcher move_base.launch
        restart: true
        condition: true
        type: rosnode
        name: /move_base
        following: 5
    additionalProgram5:
        ID: 5
        timeDelay: 5.0
        command: 'rosservice call /gazebo/set_model_state "{model_state: {model_name: youbot,pose: {position: {x: -2.93,y: -1.86,z: 0.10},orientation: {x: 0.0,y: 0.0,z: 0.0,w: 1.0}},twist: {},reference_frame: }}"'
        restart: true
        condition: 
        type: NoProgram
        name: 
        following: 6
    additionalProgram6:
        ID: 6
        timeDelay: 6.0
        command: rosrun youbot_sim_launcher initial_pose_setter.py -2.93 -1.86 0.0 0.0 0.0 0.0 1.0
        name: 
        restart: true
        type: NoProgram
        condition: 
        following: 7
    additionalProgram7:
        ID: 7
        timeDelay: 3.0
        command: rosservice call /move_base/clear_costmaps
        name: 
        restart: true
        type: NoProgram
        condition: 
        following: 
#    additionalProgram8:
#        ID: 8
#        timeDelay: 2.0
#        command: roslaunch youbot_sim_launcher watchdog.launch
#        restart: false
#        condition: 
#        type: rosnode
#        name: 
#        following: 
#    additionalProgram9:
#        ID: 9
#        timeDelay: 10.0
#        command: rostopic pub /move_base/goal move_base_msgs/MoveBaseActionGoal "{header: {},goal_id: {},goal: {target_pose: {header: {seq: 0,stamp: {secs: 0,nsec 0},frame_id: 'map'},pose: {position: {x: -4.3,y: 6.6,z: 0.0},orientation: {x: 0.0,y: 0.0,z: 1.57,w: 1.57}}}}}"
#        restart: true
#        condition: true
#        type: rosnode
#        name: youbot_rc_statemachine
#        following: 10
#    additionalProgram3:
#        ID: 3
#        timeDelay: 3.0
#        command: roslaunch youbot_sim_launcher navigating.launch
#        restart: true
#        condition: true #restart at end of every Simulation run
#        type: rosnode # rosnode uses: "rosnode kill [name]" | program uses: "killall -v [name]" - depends on the program/node some nodes wont finish with rosnode kill, have to be tested
#        name: example_node1 #name of running node or process name
#        following:
#    additionalProgram3:
#        ID: 3
#        timeDelay: 15.0
#        command: roslaunch example_pkg example_node2.launch
#        restart: true
#        condition:
#            topic: /thisNodeNeedARestart
#            msg_type: String
#        type: programm
#        name: example_node2
#        following: 
#    additionalProgram4:
#        ID: 4
#        timeDelay:
#        command: rosservice call /move_base/clear_costmaps # must be empty srv
#        name: 
#        restart: 
#        type: NoProgram #only will be used if this additional Programm is a following of a other one
#        condition: 
#        following: 
