observerTopic: /observer/info
additionalPrograms:
    additionalProgram1:
        ID: 1
        timeDelay: 5.0
        command: roslaunch youbot_sim_launcher youbot_navigation_test.launch
        restart: false
        condition:
        type: rosnode
        name: 
        following: 
    additionalProgram2:
        ID: 2
        timeDelay: 5.0
        command: roslaunch luh_youbot_controller gazebo_controller.launch
        restart: false
        condition:
        type: rosnode
        name: 
        following: 
    additionalProgram3:
        ID: 3
        timeDelay: 5.0
        command: roslaunch youbot_sim_launcher navigation_navigation_test.launch
        restart: false
        condition:
        type: rosnode
        name: 
        following: 
    additionalProgram4:
        ID: 4
        timeDelay: 5.0
        command: roslaunch youbot_sim_launcher move_base.launch
        restart: false
        condition:
        type: rosnode
        name: 
        following: 5
#    additionalProgram5:
#        ID: 5
#        timeDelay: 
#        command: 'rosservice call /gazebo/pause_physics'
#        restart: true
#        condition: 
#        type: NoProgram
#        name: 
#        following: 6
    additionalProgram5:
        ID: 5
        timeDelay: 2.0
        command: 'rosservice call /gazebo/set_model_state "{model_state: {model_name: youbot,pose: {position: {x: 0.41,y: -0.5,z: 0.10},orientation: {x: 0.0,y: 0.0,z: 0.0,w: 1.0}},twist: {},reference_frame: }}"'
        restart: true
        condition: 
        type: NoProgram
        name: 
        following: 6
#    additionalProgram7:
#        ID: 7
#        timeDelay: 2.0
#        command: 'rosservice call /gazebo/unpause_physics'
#        restart: true
#        condition: 
#        type: NoProgram
#        name: 
#        following: 8
    additionalProgram6:
        ID: 6
        timeDelay: 5.0
        command: rosrun youbot_sim_launcher initial_pose_setter.py 0.41 -0.5 0.0 0.0 0.0 0.0 1.0
        restart: true
        condition: 
        type: NoProgram
        name: 
        following: 7
    additionalProgram7:
        ID: 7
        timeDelay: 5.0
        command: rosservice call /move_base/clear_costmaps
        name: 
        restart: true
        type: NoProgram
        condition: 
        following: 
